@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    font-family: Pretendard Variable;
  }
}
